p {
    color: black;
}

#searchIcon {
    transform: translate(-8vw, 1.1vw);
    font-size: large;
}
#searchBox {
    transform: translate(6vw, 0vw);
}
#search {
    text-align: center;
}
.floatDiv {
    float: left;
}

#rankList {
    padding-left: 5vw;
    text-align: left;
    color: black;
}

#errorList {
    padding-left: 5vw;
    text-align: left;
    color: black;
}

#errorListTitle{
    color: black;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.8;
    padding-top: 1.5vw;
    padding-bottom: 2vh;
    border-bottom: 2px solid rgba(0,0,0,0.4);

}

#errorListContent{
    color: black;
    text-align: left;
    font-size: 1.5vw;
    padding: 3vh 3vw;
    line-height: 2.2vw;
}

.floatLeft{
    float: right;
    font-size: 0.8vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#errorListLikeCnt{
    text-align: right;
    font-size: 1.5vw;
    padding-right: 2vw;
}

#errorh4{
    padding-top: 2vw;
    padding-left: 3vw;
}

.paddingLeft{
    padding-left: 2vw;
    padding-right: 2vw;
}

#replyButton{
    padding-left: 2vw;
    padding-bottom: 2vw;
}

#answerTitle{
    color: black;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.8;
    padding-top: 1.5vw;
    padding-bottom: 2vh;
    border-bottom: 2px solid rgba(0,0,0,0.4);
}
#answerContent{
    color: black;
    text-align: left;
    font-size: 1.5vw;
    padding: 3vh 3vw;
    line-height: 2.2vw;
}

#answerTextField{
    text-align: left;
    padding-left: 0.5vw;
    
}

#answerButton{
    transform: translate(2.5vw, -3.5vw);
}

#commentContent{
    font-weight: 600;
    padding-left: 1vw;
}
#commentEmail{
    font-weight: 600;
    padding-left: 1vw;
}

.commentClass{
    float: left;
    font-size: 1.2vw;
}
            
#commentDate{
                float: right;
                font-weight: 600;
                padding-left: 1vw;
}

#answerListLikeCnt{
    text-align: right;
    padding-right: 2vw;
    font-size: 1.5vw;
    font-size: 20px;
    display: block;
}
#gachihasheul{
    transform: translateX(-1.2%);
    font-size: 16px;
}